@import '@/app/scss/mixins/desktop';
@import '@/app/scss/global/variables';

.dashboard {
    background: white;
    border-radius: 8px;
    width: 100%; 
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    position: relative;
    &__sidebar {
        background: white;
        -webkit-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
        box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        @include desktop {
            width: 200px;
        }
        &__brand {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            >img {
                height: 50px;
            }
        }
        >nav {
            >ul {
                >li {
                    >a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 12px;
                        transition: all .3s ease-in-out;
                        padding: 12px 20px;
                        >img {
                            width: 18px;
                        }
                        >span {
                            color: black;
                            font-size: 12px;
                            flex: 1;
                        }
                        &:hover {
                            background: lighten(black, 98%);
                        }
                    }
                }
            }
        }
    }
    &__content {
        background: #f0f0f0;
        flex: 1;
        @include desktop {
            //padding: 30px 30px 30px 240px;
            padding: 30px;
        }
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 14px;
                transition: all .3s ease-in-out;
                margin: 0 0 30px;
                >img {
                    width: 22px;
                }
                >span {
                    color: black;
                    font-size: 18px;
                    flex: 1;
                }
                >a {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    flex-direction: row-reverse;
                    >img {
                        width: 12px;
                    }
                    >span {
                        color: black;
                        font-size: 12px;
                        flex: 1;
                        margin: -2px 0 0;
                    }
                }
            }
        }
        &__main {
            font-size: 12px;
            .options {
                border-radius: 16px;
                -webkit-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                padding: 16px 25px;
                background: white;
                margin: 0 0 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                gap: 10px;  
                user-select: none;
                &__left {
                    flex: 1;
                }
                &__period {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    flex: 1;
                    >span {
                        font-size: 14px;
                        min-width: 120px;
                        display: block;
                        background: rgb(239, 239, 239);
                        text-align: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                    }
                    >button {
                        background: transparent;
                        padding: 0;
                        outline: none;
                        border: none;
                        display: flex;
                        cursor: pointer;
                        padding: 0 6px;
                        margin: 0 6px;
                        >img {
                            width: 12px;
                        }
                    }
                }
                &__buttons {
                    display: flex;
                    justify-content: flex-end;
                    flex: 1;
                    >button { 
                        background: transparent;
                        padding: 0;
                        outline: none;
                        border: none;
                        display: flex;
                        cursor: pointer;
                        background: rgb(239, 239, 239);
                        text-align: center;
                        padding: 8px 16px;
                        border-radius: 16px;
                        >img {
                            width: 18px;
                        }
                    }     
                }         
            }
            .balance {
                border-radius: 16px;
                -webkit-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                -moz-box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                box-shadow: 0px 0px 66px -23px rgba(0,0,0,0.05);
                padding: 16px 25px;
                background: white;
                margin: 20px 0 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: end;
                h4 {
                    margin: 0;
                    font-weight: 500;
                }
                h2 {
                    margin: 0;
                }
                h1 {
                    margin: 0;
                }
            }
        }
    }
}
